
<a class="btn btn-primary float-right" [routerLink]="['/write']">작성하기</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">글 번호</th>
      <th scope="col">글 제목</th>
      <th scope="col">작성자</th>
      <th scope="col">작성일</th>
      <th scope="col">관리</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of list">
      <th scope="row">{{item.idx}}</th>
      <td><a [routerLink]="['/view',item.idx]">{{item.title}}</a></td>
      <td>박상우</td>
      <td>{{item.date}}</td>
      <td>
        <span class='btn btn-success'>수정</span> / 
        <span class='btn btn-danger' (click)="delete(item.idx)">삭제</span>
      </td>
    </tr>
  </tbody>
</table>